.alert-dismissable .close,
.alert-dismissible .close {
    @include opacity(.2);
    color: #000;

    &:hover,
    &:focus {
        @include opacity(.5);
    }
}

.alert a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.alert-warning h4 small {
    color: $gray-da;
}
