.client-selector {
    .form-group {
        margin-bottom: 10px;

        > .form-control {
            padding-right: 32px;
        }
    }

    .form-control-feedback {
        pointer-events: none;
        top: 0;
        right: 9px;
    }

    .divider {
        margin: 10px 0;
    }
}
