.dropdown-toggle {
    cursor: pointer;

    > i {
        width: (18em / 14);
        text-align: center;
    }
}

.dropdown-menu {
    min-width: 220px;

    > li {
        > a {
            padding: 6px 15px;

            > i:first-child {
                margin-right: 8px;
            }
        }

        > .form-group {
            margin: -5px 0px 5px;

            > i {
                position: absolute;
                top: 12px;
                left: 15px;
                color: $gray-light;
            }

            > .form-control {
                padding-left: 45px;
                border-width: 0;
                border-bottom-width: 1px;
                border-radius: 0;
                height: 40px;

                &:focus {
                    border-color: $input-border;
                }
            }
        }
    }
}

.dropdown-submenu {
    position:relative;

    &:hover > .dropdown-menu {
        display:block;
    }
}
