.form-control {
    padding: $padding-base-vertical 10px;
    @include box-shadow(none);
}

.form-control:focus,
.has-error .form-control:focus,
.has-warning .form-control:focus, {
    @include box-shadow(none);
}

select.input-xs {
    padding: 0;
}

.form-control[disabled],
tags-input [disabled].tags,
fieldset[disabled] .form-control,
fieldset[disabled] tags-input .tags,
tags-input fieldset[disabled] .tags {
    color: $input-disabled-color;
}
