.nav-tabs > li {
    > a {
        color: $nav-tabs-active-link-hover-color;
        border-top: 3px solid transparent;
    }

    &.active > a {
        &,
        &:hover,
        &:focus {
            border-top: 3px solid $nav-tabs-active-link-hover-accent-color;
        }
    }
}

.page-header + .nav-tabs {
    padding: $nav-tabs-padding;
    background-color: $page-header-bg;
    border-bottom: 1px solid $page-header-border-color;

    > li {
        > a {
            border: none;
            border-bottom: 5px solid transparent;

            &:hover {
                border: none;
            }
        }

        &.active > a {
            &,
            &:hover,
            &:focus {
                font-weight: $nav-tabs-active-link-hover-font-weight;
                background-color: transparent;
                border: none;
                border-bottom: 5px solid $nav-tabs-active-link-hover-accent-color;
            }
        }
    }

    > .btn {
        margin-top: 5px;
    }
}
