.nav-tabs > li {
    > a {
        border: none;
        border-bottom: 3px solid transparent;
    }

    &.active > a {
        &,
        &:hover,
        &:focus {
            font-weight: $nav-tabs-active-link-hover-font-weight;
            border: none;
            border-bottom: 3px solid $nav-tabs-active-link-hover-accent-color;
        }
    }
}
