.pagination {
    > li {
        > a,
        > span {
            padding: $padding-base-vertical $padding-base-horizontal * .5;
            min-width: 34px;
            text-align: center;
            font-size: $font-size-small;

            > i {
                font-size: $font-size-base;
            }
        }
    }

    > .active > a,
    > .active > span {
        font-weight: 700;
    }
}

.pagination-lg {
    @include pagination-size($padding-large-vertical, $padding-large-horizontal * 0.5, $font-size-large, $border-radius-large);

    > li {
        > a,
        > span {
            > i {
                font-size: $font-size-large;
            }
        }
    }
}

.pagination-sm {
    @include pagination-size($padding-small-vertical, $padding-small-horizontal * 0.5, $font-size-small - 2, $border-radius-small);

    > li {
        > a,
        > span {
            > i {
                font-size: $font-size-small;
            }
        }
    }
}
