.pagination {
    > li {
        > a,
        > span {
            padding: $padding-base-vertical $padding-base-horizontal * .5;
            min-width: 34px;
            text-align: center;
            font-size: $font-size-small;

            > i {
                font-size: $font-size-base;
            }
        }
    }

    > .active > a,
    > .active > span {
        font-weight: 700;
    }
}
