.panel-featured {
    border-left: 5px solid $brand-primary;
    font-size: 36px;

    > .panel-body {
        padding: 5px 10px 10px 80px;

        > i {
            position: absolute;
            left: 35px;
            line-height: 70px;
        }

        > .highlight {
            font-family: $font-family-serif;
        }

        > .caption {
            font-size: $font-size-base;
            font-weight: 500;
            margin-top: -5px;
        }
    }
}

.panel-secondary {
  @include panel-variant($panel-secondary-border, $panel-secondary-text, $panel-secondary-heading-bg, $panel-secondary-border);
}

.panel > .panel-body + .table {
    border-top: none;
}

.panel > .table {
    > thead,
    > tbody {
        border-left: none;
        border-right: none;
    }

    > tbody:last-child {
        border-bottom: none;
    }

    &:last-child {
        border-radius: 0;
    }
}
