.sidebar {
    @extend .col-sm-3;
    @extend .col-lg-2;
    z-index: 9999;
    padding: 0;
    background: $nav-sidebar-bg-color;
    font-size: $nav-sidebar-font-size;
    overflow: hidden;
}

.sidebar-brand {
    display: block;

    > a {
        display: block;
        height: $nav-sidebar-brand-height;
        background: $nav-sidebar-brand-bg-color $nav-sidebar-logo no-repeat 20px;
        padding: 0 15px;
        cursor: pointer;
        font-size: 16px;
        line-height: $nav-sidebar-brand-height;
        text-align: right;
        color: $gray;
    }

    > ul {
        @extend .dropdown-menu;
        margin: 0;
        padding: 0;
        width: 100%;
        border: 0;
        border-top: 1px solid $gray-darker;
        border-bottom: 1px solid $nav-sidebar-brand-bg-color;
        background: $nav-sidebar-brand-bg-color;
        box-shadow: none;

        > li > a {
            padding: 12px 18px;
            color: $gray;

            &:hover {
                background-color: $gray-darker;
                color: $gray;
            }
        }
    }

    .sidebar-header {
        border-top: 1px solid $gray-darker;
    }
}

.sidebar > .nav {
    > li {
        > a {
            border-left: 3px solid transparent;
            color: $nav-sidebar-link-color;
            white-space: nowrap;
            overflow: hidden;

            > i {
                font-size: 16px;
                margin-right: 15px;
            }

            &:hover,
            &:focus {
                background-color: $nav-sidebar-link-hover-bg;
                color: $nav-sidebar-link-hover-color;
            }
        }

        &.active > a {
            &,
            &:hover,
            &:focus {
                border-left: 3px solid $product-color;
                background-color: $nav-sidebar-active-link-bg;
                color: $nav-sidebar-active-link-color;
                cursor: default;
            }
        }
    }
}

.sidebar-header {
    padding: $nav-sidebar-header-padding;
    color: $nav-sidebar-header-color;
    border-top: 1px solid $nav-sidebar-header-border-color;
    font-weight: bold;
    text-transform: uppercase;

    &:first-child {
        border-top: 0;
    }
}

@media (min-width: $screen-sm) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        > .nav {
            position: absolute;
            top: $nav-sidebar-brand-height;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            padding-bottom: 30px;

            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}
