.sidebar {
    @extend .col-sm-3;
    @extend .col-lg-2;
    padding: 0;
    background: $nav-sidebar-bg-color;
    font-size: $nav-sidebar-font-size;
    overflow: hidden;

    > .nav {
        > li {
            > a {
                border-left: 5px solid transparent;
                color: $nav-sidebar-link-color;
                white-space: nowrap;
                overflow: hidden;
                padding-left: 13px;

                > i {
                    font-size: 16px;
                    margin-right: 15px;
                }

                &:hover,
                &:focus {
                    background-color: $nav-sidebar-link-hover-bg;
                    color: $nav-sidebar-link-hover-color;
                }
            }

            &.active > a {
                &,
                &:hover,
                &:focus {
                    border-left: 5px solid $product-color;
                    background-color: $nav-sidebar-active-link-bg;
                    color: $nav-sidebar-active-link-color;
                    cursor: default;
                }
            }
        }
    }
}

.sidebar-brand,
.product-selector > .btn-group {
    display: block;

    .open-logo {
        display: none;
    }

    > a {
        display: block;
        height: $nav-sidebar-brand-height;
        padding: 0 20px;
        cursor: pointer;
        font-size: 16px;
        line-height: $nav-sidebar-brand-height;
        color: $gray;

        > i {
            float: right;
            margin-top: 25px;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        border: 0;
        border-top: 1px solid $gray-darker;
        border-bottom: 1px solid $nav-sidebar-brand-bg-color;
        background: $nav-sidebar-brand-bg-color;
        box-shadow: none;
        border-radius: 0;

        > li > a {
            padding: 12px 18px;
            color: $gray;

            &:hover {
                background-color: $gray-darker;
                color: $gray;
            }
        }
    }

    .dropdown-submenu {
        border-top: 1px solid $gray-darker;
    }
}

.product-selector > .btn-group.open {
    background: $nav-sidebar-bg-color;

    .open-logo {
        display: inline;
    }

    .closed-logo {
        display: none;
    }
}

.sidebar-header {
    padding: $nav-sidebar-header-padding;
    color: $nav-sidebar-header-color;
    border-top: 1px solid $nav-sidebar-header-border-color;
    font-weight: bold;
    text-transform: uppercase;

    &:first-child {
        border-top: 0;
    }
}

@media (min-width: $screen-sm) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        > .nav {
            position: absolute;
            top: $nav-sidebar-brand-height;
            left: 0;
            right: 0;
            bottom: 0;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            overflow: auto;
            padding-bottom: 30px;

            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}
