.table {
    font-size: $font-size-small;

    > thead {
        border: 1px solid $table-header-bg;

        + tbody {
            border-top: none;
        }
    }

    > tbody {
        border: 1px solid $table-border-color;
    }

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border-top: none;
            }
        }
    }

    > thead > tr > th {
        padding: $table-cell-padding * 0.5 $table-cell-padding;
        background-color: $table-header-bg;
        font-size: 11px;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        border-bottom: none;

        .tooltip {
            text-transform: none;
        }
    }
}

.table-sortable {
    > thead > tr > th.sort-by {
        cursor: pointer;

        > .sort-icon {
            width: (18em / 14);
            text-align: center;
        }

        // fa-angle-up
        &.sort-asc > .sort-icon:before {
            content: "\f106";
        }

        // fa-angle-down
        &.sort-desc > .sort-icon:before {
            content: "\f107";
        }
    }
}
