.tree-list {
    list-style: none;
    padding: 0;

    .tree {
        .row {
            &.subtree {
                padding: 0;
                display: none;
                opacity: 0;
                overflow: hidden;

                > * {
                    padding: 0;
                }

                &.open {
                    overflow: visible;
                    display: block;
                    opacity: 1;
                }
            }
        }

        .tree-toggler {
            cursor: pointer;
            width: (18em / 14);
            text-align: center;

            &:before {
                content: "\f147";
            }

            &.open:before {
                content: "\f196";
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        .tree-list {
            .indent {
                padding-left: 30px;
            }

            .tree-list {
                .indent {
                    padding-left: 45px;
                }

                .tree-list .indent {
                    padding-left: 60px;
                }
            }
        }
    }
}
