// use .fa-fw by default
li > a > .fa {
    width: (18em / 14);
    text-align: center;
}

// for styled select inline
.form-control.inline {
    display: inline;
    width: auto;
    margin-left: 10px;
}

// remove margins for p's inside tables
.table p {
    margin: 0;
}

// remove bottom margin for table inside panel
.panel-body > .table:last-child {
    margin-bottom: 0;
}

// vertical align icon
.btn > i {
    margin-top: 3px;
}
