
h5, .h5 {
    color: $gray-da;
    text-transform: uppercase;
}

h6, .h6 {
    color: $gray;
    text-transform: uppercase;
}

.page-header {
    @extend .clearfix;
    margin: 0;
    padding: $page-header-padding;
    background-color: $page-header-bg;

    > h1 {
        margin: 0;
        line-height: 34px;
        float: left;
    }

    > div {
        float: right;

        > * {
            &:after {
                position: absolute;
                display: inline-block;
                content: '';
                margin: 10px 0;
                height: 14px;
                border-right: 1px solid $gray-lighter;
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    .btn-link {
        padding: $padding-base-vertical $padding-base-horizontal * 0.5;
        color: $gray;

        &:hover {
            text-decoration: none;
        }
    }

    .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: auto;
    }

    .bootstrap-select.btn-group:not(.input-group-btn),
    .bootstrap-select.btn-group[class*="span"],
    .bootstrap-select.btn-group[class*="col-"] {
        margin: 0;
    }
}

.page-content {
    padding: 20px;

    > h2 {
        margin: 0 0 20px;
    }
}

.toolbar-text {
    line-height: 34px;

    .btn-sm {
        margin-bottom: 2px;
    }
}

h5 + hr, .h5 + hr {
    margin-top: 8px;
}

h6 + hr, .h6 + hr {
    margin-top: 5px;
}
