h5, .h5 {
    color: $gray-da;
    text-transform: uppercase;
}

h6, .h6 {
    color: $gray;
    text-transform: uppercase;
}

.page-header {
    @extend .clearfix;
    margin: 0;
    padding: $page-header-padding;
    background-color: $page-header-bg;

    > h1 {
        margin: 0;
        line-height: 34px;
        float: left;
    }

    > div {
        float: right;

        > * {
            &:after {
                position: absolute;
                display: inline-block;
                content: '';
                margin: 10px 0;
                height: 14px;
                border-right: 1px solid $gray-lighter;
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    .btn-link {
        color: $gray;

        &:hover {
            text-decoration: none;
        }
    }

    .dropdown-menu {
        @extend .dropdown-menu-right;
        min-width: $page-header-dropdown-width;
        max-height: $page-header-dropdown-max-height;
        padding: 10px;
        overflow: auto;

        > li {
            > a {
                padding: 10px;
            }
        }
    }
}

.page-content {
    padding: 20px;

    > h2 {
        margin: 0 0 20px;
    }
}

.toolbar-text {
    line-height: 34px;

    .btn-sm {
        margin-bottom: 2px;
    }
}
