h1, .h1 { font-weight: $font-weight-h1; }
h2, .h2 { font-weight: $font-weight-h2; }
h3, .h3 { font-weight: $font-weight-h3; }
h4, .h4 { font-weight: $font-weight-h4; }
h5, .h5 { font-weight: $font-weight-h5; }
h6, .h6 { font-weight: $font-weight-h6; }

.page-header {
    @extend .clearfix;
    margin: 0;
    padding: $page-header-padding;
    background-color: $page-header-bg;

    > h1 {
        margin: 0;
        line-height: 34px;
        float: left;
    }

    > div {
        float: right;

        > * {
            &:after {
                position: absolute;
                display: inline-block;
                content: '';
                margin: 10px 0;
                height: 14px;
                border-right: 1px solid $gray-lighter;
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    .btn-link {
        color: $gray;
    }

    .dropdown-menu {
        min-width: $page-header-dropdown-width;
        max-height: $page-header-dropdown-max-height;
        padding: 10px;
        overflow: auto;

        > li {
            > a {
                padding: 10px;
            }
        }
    }
}

.page-content {
    padding: 20px;

    > h2 {
        margin: 0 0 20px;
    }
}

.toolbar-text {
    line-height: 34px;

    .btn-sm {
        margin-bottom: 2px;
    }
}
