.user-area {
    line-height: 28px;
    margin-left: 15px;
    color: $gray;

    &.open > .dropdown-toggle {
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    img {
        @extend .img-circle;
        width: 34px;
        height: 34px;
    }
}
