//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-darker:               #333333 !default;
$gray-dark:                 #444444 !default;
$gray-da:                   #888888 !default;
$gray:                      #a1a1a1 !default;
$gray-light:                #dddddd !default;
$gray-lighter:              #f0f0f0 !default;

$brand-primary:             #793091 !default;
$brand-primary-dark:        #642878 !default;
$brand-primary-light:       #993db7 !default;
$brand-primary-lighter:     #c284d6 !default;

$brand-secondary:           #ff8336 !default;
$brand-secondary-dark:      #ff6e14 !default;
$brand-secondary-light:     #ff8d47 !default;
$brand-secondary-lighter:   #ffb78b !default;

$brand-success:             #9aca40 !default;
$brand-success-dark:        #88b632 !default;
$brand-success-light:       #a8d15b !default;
$brand-success-lighter:     #cbe49d !default;

$brand-info:                #3498db !default;
$brand-info-dark:           #2487c9 !default;
$brand-info-light:          #51a7e0 !default;
$brand-info-lighter:        #99cbed !default;

$brand-warning:             #ffce54 !default;
$brand-warning-dark:        #ffc432 !default;
$brand-warning-light:       #ffd876 !default;
$brand-warning-lighter:     #ffebba !default;

$brand-danger:              #d8192c !default;
$brand-danger-dark:         #aa1423 !default;
$brand-danger-light:        #e83c4d !default;
$brand-danger-lighter:      #f5a6ae !default;

$product-color:         $brand-primary !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

$body-bg:               #fff !default;
$link-color:            $brand-info !default;
$link-hover-color:      $brand-info-dark !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:        "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:             "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;

$font-size-h1:                  32px !default;
$font-size-h2:                  24px !default;
$font-size-h3:                  21px !default;
$font-size-h4:                  18px !default;
$font-size-h5:                  14px !default;
$font-size-h6:                  12px !default;

$headings-font-weight:          400 !default;
$headings-color:                $gray-dark !default;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:         6px !default;
$padding-base-horizontal:       24px !default;

$padding-large-vertical:        10px !default;
$padding-large-horizontal:      32px !default;

$padding-small-vertical:        5px !default;
$padding-small-horizontal:      20px !default;

$padding-xs-vertical:           1px !default;
$padding-xs-horizontal:         10px !default;

$border-radius-small:           2px !default;
$border-radius-base:            2px !default;
$border-radius-large:           2px !default;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          12px 15px !default;
$nav-link-hover-bg:                         transparent !default;
$nav-link-hover-color:                      inherit !default;

//== Sidebar
$nav-sidebar-logo:                          url('../../demo/assets/logo-demo.png') !default;
$nav-sidebar-bg-color:                      $gray-darker !default;
$nav-sidebar-border-color:                  #000 !default;
$nav-sidebar-font-size:                     12px !default;

$nav-sidebar-brand-height:                  62px !default;
$nav-sidebar-brand-padding:                 21px 15px !default;
$nav-sidebar-brand-bg-color:                #2b2b2b !default;

$nav-sidebar-link-color:                    $gray !default;

$nav-sidebar-link-hover-bg:                 $gray-dark !default;
$nav-sidebar-link-hover-color:              $gray-lighter !default;

$nav-sidebar-active-link-bg:                $gray-dark !default;
$nav-sidebar-active-link-color:             $gray-lighter !default;

$nav-sidebar-header-padding:                18px 20px !default;
$nav-sidebar-header-color:                  #666666 !default;
$nav-sidebar-header-border-color:           $gray-dark !default;

//== Tabs
$nav-tabs-active-link-hover-bg:             #fff !default;
$nav-tabs-active-link-hover-color:          $gray-dark !default;
$nav-tabs-active-link-hover-accent-color:   $brand-primary !default;
$nav-tabs-active-link-hover-font-weight:    500 !default;

$nav-tabs-padding:                          4px 20px 0 !default;


//== Type
//
//##

$text-muted:                        $gray !default;

$page-header-bg:                    #fff !default;
$page-header-border-color:          $gray-light !default;
$page-header-padding:               14px 20px 13px !default;

$page-header-dropdown-width:        220px !default;
$page-header-dropdown-max-height:   360px !default;


//== Panels
//
//##

$panel-inner-border:            $gray-light !default;
$panel-footer-bg:               $gray-lighter !default;

$panel-default-text:            #fff !default;
$panel-default-heading-bg:      $gray-dark !default;

$panel-secondary-text:          #fff !default;
$panel-secondary-border:        $brand-secondary !default;
$panel-secondary-heading-bg:    $brand-secondary !default;

$panel-success-text:          #fff !default;

$panel-info-text:          #fff !default;

$panel-warning-text:          #fff !default;

$panel-danger-text:          #fff !default;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-default-border:             $gray !default;

$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary !default;

$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               $brand-secondary !default;
$btn-secondary-border:           $brand-secondary !default;

$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $brand-success !default;

$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $brand-info !default;

$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             $brand-warning !default;

$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $brand-danger !default;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            10px !default;
$table-border-color:            $gray-light !default;

$table-header-bg:               $gray-dark !default;


//== Table list
//
//##

$table-list-item-border:        $gray-lighter !default;


//== Jumbotron
//
//##

$jumbotron-bg:                  $gray-light !default;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success-dark !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           $brand-success-dark !default;

$state-info-text:                $brand-info-dark !default;
$state-info-bg:                  $brand-info !default;
$state-info-border:              $brand-info-dark !default;

$state-warning-text:             $brand-warning-dark !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           $brand-warning-dark !default;

$state-danger-text:              $brand-danger-dark !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            $brand-danger-dark !default;


//== Wells
//
//##

$well-bg:                           $gray-light !default;


//== Forms
//
//##

$input-color:                       $gray-dark !default;
$input-border:                      $gray-light !default;
$input-border-focus:                $brand-primary-dark;

$input-color-placeholder:           $gray-light !default;

$input-group-addon-bg:              $gray !default;
$input-group-addon-border-color:    $gray !default;


//== Toggle
//
//##

$toggle-width:                  60px;
$toggle-height:                 30px;
$toggle-padding:                4px;
$toggle-thumb-width:            15px;


//== Modals
//
//##

$modal-inner-padding:                   20px !default;

$modal-title-padding:                   12px 20px !default;
$modal-header-border-color:             transparent !default;

$modal-footer-border-color:             $gray-light !default;

$modal-header-bg:                       $gray-darker !default;
$modal-header-color:                    $gray-lighter !default;


//== Close
//
//##

$close-color:                   #fff !default;
$close-text-shadow:             0 1px 0 #000 !default;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          #fff !default;
$alert-success-border:        $state-success-bg !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             #fff !default;
$alert-info-border:           $state-info-bg !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          #fff !default;
$alert-warning-border:        $state-warning-bg !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           #fff !default;
$alert-danger-border:         $state-danger-bg !default;


//== Popovers
//
//##

$popover-border-color:                $table-header-bg !default;
$popover-fallback-border-color:       $table-header-bg !default;

$popover-title-color:                 #fff !default;
$popover-title-bg:                    $table-header-bg !default;

$popover-arrow-color:                 #fff !default;


//== Pagination
//
//##

$pagination-color:                     $gray !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    $gray-light !default;

$pagination-hover-color:               $gray-dark !default;
$pagination-hover-border:              $pagination-border !default;

$pagination-active-color:              $gray-dark !default;
$pagination-active-bg:                 $gray-light !default;
$pagination-active-border:             $pagination-border !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               $pagination-bg !default;
$pagination-disabled-border:           $pagination-border !default;
