input[type="checkbox"].toggle {
    display: none;

    + label {
        display: inline-block;
        position: relative;
        width: $toggle-width;
        height: $toggle-height;
        line-height: $toggle-height;
        border-radius: $border-radius-small;
        background-color: $gray;
        cursor: pointer;
        transition: all .25s ease-in;

        &:after, &:hover:after {
            position: absolute;
            top: $toggle-padding;
            left: $toggle-padding;
            width: $toggle-thumb-width;
            height: $toggle-height - ($toggle-padding * 2);
            content: ' ';
            background: #fff;
            transition: all .25s ease-in;
            border-radius: $border-radius-small * 0.5;
        }

        .off, .on {
            position: absolute;
            width: $toggle-width - $toggle-thumb-width - $toggle-padding;
            text-align: center;
            color: #fff;
            transition: all .25s ease-in;
        }

        .off {
            opacity: 1;
            right: 0;
        }

        .on {
            opacity: 0;
        }
    }

    &:checked + label,
    &:focus:checked + label {
        background-color: $brand-success;

        .off {
            opacity: 0;
        }

        .on {
            opacity: 1;
        }

        &:after, &:hover:after {
            background-position: 0 0;
            left: $toggle-width - $toggle-thumb-width - 4;
        }
    }
}
