.user {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $user-bg;
    border-top: 1px solid $user-border-color;
    color: $user-color;
    font-weight: $user-font-weight;
}

.user-info {
    margin: 0 65px 0 15px;

    img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
}

.user-logout {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-left: 1px solid $user-border-color;
    text-align: center;
    font-size: 18px;
    color: $user-color;

    &:hover,
    &:focus {
        background-color: $user-logout-hover-color;
        color: $user-color;
    }
}
